<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation Material Design - Cards</title>
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- bower:css -->
<!-- endbower -->
<!-- inject:css -->
<!-- endinject -->
<!-- Material Design Lite -->
</head>
<body>

  <div id="app-bar" class="row">
    <div class="icon-container">
      <i class="material-icons">menu</i>
    </div>
    <h6 class="title with-toolbar-icon">Cards</h6>
  </div>

  <div id="side-nav" class="nav-drawer clipped-under-app-bar">

    <ul id="status-list" class="fmd-list">
      <li class="list-subheader">
        <span>Status</span>
      </li>
      <li class="single-line-item-with-icon">
        <div class="icon-container">
          <i class="material-icons">mail</i>
        </div>
        <span>Unassessed</span>
      </li>
      <li class="single-line-item-with-icon">
        <div class="icon-container">
          <i class="material-icons">visibility</i>
        </div>
        <span>Assessed</span>
      </li>
      <li class="single-line-item-with-icon">
        <div class="icon-container">
          <i class="material-icons">event</i>
        </div>
        <span>Booked</span>
      </li>
      <li class="single-line-item-with-icon">
        <div class="icon-container">
          <i class="material-icons">done</i>
        </div>
        <span>Archived</span>
      </li>
    </ul>

    <ul id="service-list" class="fmd-list">
      <li class="list-subheader">
        <span>Service</span>
      </li>
      <li class="single-line-item-with-icon">
        <div class="icon-container">
          <i class="material-icons">content_cut</i>
        </div>
        <span>Haircut</span>
      </li>
      <li class="single-line-item-with-icon">
        <div class="icon-container">
          <i class="material-icons">visibility</i>
        </div>
        <span>Color</span>
      </li>
      <li class="single-line-item-with-icon">
        <div class="icon-container">
          <i class="material-icons">event</i>
        </div>
        <span>Cut &amp; Color</span>
      </li>
      <li class="single-line-item-with-icon">
        <div class="icon-container">
          <i class="material-icons">done</i>
        </div>
        <span>Archived</span>
      </li>
    </ul>

    <ul id="administrators-list" class="fmd-list">
      <li class="list-subheader">
        <span>Administrators</span>
      </li>
      <li class="single-line-item-with-avatar">
        <img class="avatar" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg" alt="">
        <span>Beyonce</span>
      </li>
      <li class="single-line-item-with-avatar">
        <img class="avatar" src="http://www.clickmusic.com/images/uploads/shakira-voice.jpg" alt="">
        <span>Shakira</span>
      </li>
    </ul>

    <ul id="assessors-list" class="fmd-list">
      <li class="list-subheader">
        <span>Assessors</span>
      </li>
      <li class="single-line-item-with-avatar">
        <!-- TODO avatar goes here -->
        <span>Natasha</span>
      </li>
      <li class="single-line-item-with-avatar">
        <!-- TODO avatar goes here -->
        <span>Lindzy</span>
      </li>
    </ul>

    <ul id="stylists-list" class="fmd-list">
      <li class="list-subheader">
        <span>Stylists</span>
      </li>
      <li class="single-line-item-with-avatar">
        <!-- TODO avatar goes here -->
        <span>Taylor</span>
      </li>
      <li class="single-line-item-with-avatar">
        <!-- TODO avatar goes here -->
        <span>Nikita</span>
      </li>
    </ul>

  </div>

  <main id="content-canvas">

    <div class="row" style="max-width:none;">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background: url('http://cdn.ambrosiaforheads.com/wp-content/uploads/2015/07/riri9.jpg') center / cover;height: 256px;">
          <h2 class="mdl-card__title-text" style="color:white;">Rihanna Fenty</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Better have my money...
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Pay</a>
        </div>
      </div>
    </div>

    <div class="row" style="max-width:none;padding-top:16px">

      <div class="right-image-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Shakira Pique</h2>
          <p class="mdl-card__subtitle-text">Hips don't lie</p>
          <img class="mdl-card__image" src="http://www.clickmusic.com/images/uploads/shakira-voice.jpg">
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">WAKA WAKA</a>
        </div>
      </div>

    </div>

    <div class="row" style="max-width:none;padding-top:16px">

      <div class="multiple-image-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Beyonce Knowles-Carter</h2>
        </div>
        <div class="mdl-card-images">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">PUT A RING ON IT</a>
        </div>
      </div>

    </div>

    <div class="row" style="max-width:none;padding-top:16px">
      <div class="multiple-image-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Lady Gaga</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">POKER FACE</a>
        </div>
      </div>
    </div>

  </main>
  <div id="right-nav" class="nav-drawer clipped-under-app-bar"></div>

  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
  <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
