<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation Material Design - Forms</title>
<link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,800,900" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- bower:css -->
<!-- endbower -->
<!-- inject:css -->
<!-- endinject -->
<!-- Material Design Lite -->
</head>
<body>

  <div id="app-bar" class="row">
    <i class="material-icons">menu</i>
    <span class="title-with-toolbar-icon">Forms</span>
  </div>

  <div id="side-nav" class="nav-drawer clipped-under-app-bar">
    <ul id="status-list" class="fmd-list">
      <li class="list-subheader">
        <span>Status</span>
      </li>
      <li class="single-line-item-with-icon">
        <div class="icon-container">
          <i class="material-icons">mail</i>
        </div>
        <span>Unassessed</span>
      </li>
    </ul>
  </div>

  <main id="content-canvas">

    <div class="row" style="max-width:none;background:grey;">
      <div class="mdl-card mdl-shadow--2dp" style="margin:16px;padding:8px;width:calc(100% - 32px);">

        <!-- Simple Textfield -->
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1" />
            <label class="mdl-textfield__label" for="sample1">Text...</label>
          </div>
          <!-- Numeric Textfield -->
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2" />
            <label class="mdl-textfield__label" for="sample2">Number...</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
          <!-- Textfield with Floating Label -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample3" />
            <label class="mdl-textfield__label" for="sample3">Text...</label>
          </div>
          <!-- Numeric Textfield with Floating Label -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4" />
            <label class="mdl-textfield__label" for="sample4">Number...</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
          <!-- Floating Multiline Textfield -->
          <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
            <label class="mdl-textfield__label" for="sample5">Text lines...</label>
          </div>
          <!-- Expandable Textfield -->
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="sample6" />
              <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
            </div>
          </div>
        </form>


      </div>
    </div>

    <div class="row" style="max-width:none;padding-top:16px">

      <div class="right-image-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Shakira Pique</h2>
          <p class="mdl-card__subtitle-text">Hips don't lie</p>
          <img class="mdl-card__image" src="http://www.clickmusic.com/images/uploads/shakira-voice.jpg">
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">WAKA WAKA</a>
        </div>
      </div>

    </div>

    <div class="row" style="max-width:none;padding-top:16px">

      <div class="multiple-image-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Beyonce Knowles-Carter</h2>
        </div>
        <div class="mdl-card-images">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
          <img class="mdl-card__image" src="http://cdn.playbuzz.com/cdn/33623f3b-5b8a-41eb-8bfe-f179b45840ba/ae834304-9539-49e7-a56b-f77a111a5260.jpg">
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">PUT A RING ON IT</a>
        </div>
      </div>

    </div>

    <div class="row" style="max-width:none;padding-top:16px">
      <div class="multiple-image-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Lady Gaga</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">POKER FACE</a>
        </div>
      </div>
    </div>

  </main>
  <div id="right-nav" class="nav-drawer clipped-under-app-bar">
    <ul class="fmd-list">
      <li class="list-subheader with-bottom-border">
        <span>Today</span>
      </li>
      <li class="two-line-item-text-only">
        <p><span>Stacy</span>'s mom has got it going on.</p>
      </li>
      <li class="two-line-item-text-only">
        <p><span>Stacy</span>, can I come over after school? (after school)</p>
      </li>
      <li class="two-line-item-text-only">
        <p><span>We</span> can hang around by the pool (hang by the pool)</p>
      </li>
    </ul>
  </div>

  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
  <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
