<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Foundation Material Design - Kitchen Sink</title>
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- bower:css -->
<!-- endbower -->
<!-- inject:css -->
<link rel="stylesheet" href="../assets/stylesheets/foundation-material-design.css">
<!-- endinject -->
<!-- Material Design Lite -->
</head>
<body>
  <div id="app-bar" class="row">
    <div class="toolbar-icon">
      <i class="material-icons">menu</i>
    </div>
    <h6 class="title">Desktop Structure</h6>
  </div>
  <div id="side-nav" class="nav-drawer clipped-under-app-bar"></div>
  <div id="content-canvas" class="mdl-card mdl-shadow--2dp">

  </div>
  <div id="right-nav" class="nav-drawer clipped-under-app-bar"></div>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
  <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <script src="../scripts.js"></script>
  <!-- endinject -->
</body>
</html>
